.img2 {
    margin-left: 230px;
    margin-top: -65px;
}

.img4 {
    margin-left: 230px;
    margin-top: -65px;
}

.img6 {
    margin-left: 230px;
    margin-top: -65px;
}

#plants {
    width: 200px;
    height: 200px;
}

#cooking {
    width: 200px;
    height: 200px;
    margin-left: 230px;
    margin-top: -310px;
}

#fitness {
    width: 200px;
    height: 200px;
}

#employee {
    width: 200px;
    height: 200px;
    margin-left: 230px;
    margin-top: -310px;
}

#budget {
    width: 200px;
    height: 200px;
}

#password {
    width: 200px;
    height: 200px;
    margin-left: 230px;
    margin-top: -310px;
}
