#plants {
    width: 150px;
    height: 150px;
}

#cooking {
    width: 150px;
    height: 150px;
}

#fitness {
    width: 150px;
    height: 150px;
}

#employee {
    width: 150px;
    height: 150px;
}

#budget {
    width: 150px;
    height: 150px;
}

#password {
    width: 150px;
    height: 150px;
}
